.BalanceCard {
  width: 315px;
  height: 220px;
  background: url(../../images/card.png);
  color: var(--dark);
  padding: 40px 25px;
}

.BalanceCard__label {
  font-size: 12px;
  font-weight: 300;
}

.BalanceCard__balance {
  font-size: 24px;
  font-weight: 600;
}
