.BalanceCard {
  position: relative;
  width: 315px;
  height: 220px;
  background: url(../../images/card.png) center/contain no-repeat;
  color: var(--dark);
  padding: 40px 25px;
}

.BalanceCard__info {
  display: flex;
  gap: 35px;
  font-size: 12p;
}

.BalanceCard__label {
  font-size: 12px;
  font-weight: 300;
}

.BalanceCard__balance {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 20px;
}

.BalanceCard__btn {
  position: absolute;
  bottom: 5%;
  right: 21%;
}
