.Button {
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  background: var(--dark);
  mix-blend-mode: multiply;
  padding: 8px 18px;
}

span {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background: var(--gradient_text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}