@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --dark: #2F333C;
  --bg: #282B33;
  --light: #fff;
  --grey: #CBCCC4;
  --gradient_grey: linear-gradient(to bottom, #5E5A5A, #BEC7D7);
  --gradient: linear-gradient(to bottom, #614AD3, #E42C64);
  --gradient_body: linear-gradient(to right bottom, #DCFFC0, #C0FFFB);
  --gradient_text: linear-gradient(to right bottom, #FFC1D4, #AB9AFF);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", 'sans-serif';
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--gradient_body);
}
